@using Cosmos.Editor.Services
@model AzureCdnConfig

@{
    ViewData["Title"] = "CDN/Front Door Configuration";
}
<style>
    .text-danger {
        color: white !important;
        font-style: italic !important;
        font-weight: bold !important;
    }
</style>
<div class="pt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-secondary text-light pb-4">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <p>Before completing the section below, please make sure you have:</p>
                    <ul>
                        <li>Created a CDN or Front Door profile in Azure with an endpoint in the profile. <a href="" class="text-light">Go <i class="fa-solid fa-circle-arrow-right"></i></a></li>
                        <li>Enabled this website to access the CDN/Front Door profile.<a href="" class="text-light">Go <i class="fa-solid fa-circle-arrow-right"></i></a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <form id="registerForm" method="post">
                        <h2>Configuration Settings</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3 form-check">
                            <input class="form-check-input" asp-for="IsFrontDoor" type="checkbox" class="form-check-input" />
                            <label asp-for="IsFrontDoor" class="form-check-label"></label> (Check if this is Azure Front Door.)
                            <span asp-validation-for="IsFrontDoor" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="SubscriptionId" ></label>
                            <input asp-for="SubscriptionId" class="form-control" aria-required="true" />
                            <span asp-validation-for="SubscriptionId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ResourceGroup"></label>
                            <input class="form-control" asp-for="ResourceGroup" aria-required="true" />
                            <span asp-validation-for="ResourceGroup" class="text-danger"></span>
                            <span class="text-muted">This is the resource group name where CDN or Front Door is installed.</span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProfileName"></label>
                            <input class="form-control" asp-for="ProfileName" aria-required="true" />
                            <span asp-validation-for="ProfileName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EndPointName"></label>
                            <input class="form-control" asp-for="EndPointName" aria-required="true" />
                            <span asp-validation-for="EndPointName" class="text-danger"></span>
                        </div>

                        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Test and Save Settings <i class="fa-solid fa-circle-arrow-right"></i></button>
                        <a asp-action="Index" class="btn btn-sm btn-secondary">Cancel <i class="fa-solid fa-circle-arrow-right"></i></a>
                        <button id="btnRemove" data-bs-toggle="modal" data-bs-target="#confirmRemoveModal" class="btn btn-sm btn-secondary">Remove Settings <i class="fa-solid fa-circle-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Remove</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the current CDN settings?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a asp-action="Remove" type="button" asp-action="Remove" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("body").addClass("cwps-editor-container");
    });
</script>

<partial name="_ValidationScriptsPartial" />