@{
    ViewData["Title"] = "Comming soon!";
}
<!-- Hero -->
<div style="background-image: url('/images/path.jpg');height:100vh;padding-top:50px;margin-left:0px;margin-right:0px;">
    <div class="text-center rounded-3 pt-5">
        <div class="mask mt-5" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h4 class="mb-3">Comming soon...</h4>
                    <h1 class="mb-3">Something wonderful!</h1>
                    <p>Please check back later to see what we've built!</p>
                </div>
            </div>
        </div>
    </div>
</div>
