@{
    ViewData["Title"] = "Customer Contact List";
}
<div class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col text-light">
                <h3 class="text-light">@ViewData["Title"]</h3>
                <p>People shown here have signed up to be on the customer contact list for this website.</p>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        <div class="row cpws-table-pager-row-top">
            <div class="col-md-12">
                <a class="btn btn-sm btn-secondary float-right" title="Download the contact list." href="/Cosmos___Contacts/ExportContacts" download>Download</a>
            </div>
        </div>
        <div class="row bg-dark text-light">
            <div class="col-md-12">
                <table id="tblContacts" class="display text-light" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cpws-table-pager-row-bottom">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<script>
    $('#tblContacts').DataTable({
        ajax: '/Cosmos___Contacts/GetContacts',
        columns: [
            { data: 'Id' },
            { data: 'Name' },
            { data: 'Email' },
            { data: 'Phone' },
            { data: 'Created', render: DataTable.render.datetime() },
            { data: 'Updated', render: DataTable.render.datetime() }
        ]
    });
</script>
