@model Cosmos.Cms.Models.AzureCdnEndpoint

@{
    ViewData["Title"] = "CDN Integration";
}

<div class="container mt-3 mb-3 bg-secondary">
    <div class="row justify-content-center">
        <div class="col-md-6 text-light">
            <h1 class="text-light mt-5">@ViewData["Title"]</h1>
        </div>
    </div>
    @if (Model == null)
    {
        <div class="row justify-content-center">
            <div class="col-md-6 text-light">
                <h4>CDN Is not yet integrated.</h4>
                <a title="Enable CDN integration" class="btn btn-sm btn-primary mb-3" asp-action="EnableCdn">Enable <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-6 text-light mb-3">
                <h4>CDN Settings</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sku">CDN Type:</span>
                    <div type="text" class="form-control" aria-label="CDN Type" aria-describedby="sku">@Model.SkuName</div>
                </div>
                <div>
                    @if (Model.SkuName.ToLower().Contains("microsoft") || Model.SkuName.ToLower().Contains("door"))
                    {
                        <p class="text-light">Please note: This CDN takes about 10 minutes for content changes to be published.</p>
                    }
                    else if (Model.SkuName.ToLower().Contains("verizon"))
                    {
                        <p class="text-light">Please note: This CDN takes about 2 minutes for content changes to be published.</p>
                    }
                    else
                    {
                        <p class="text-light">Please note: This CDN takes about 10 seconds for content changes to be published.</p>
                    }
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sku">Origin host name:</span>
                    <div type="text" class="form-control" aria-label="CDN Type" aria-describedby="sku">@Model.EndPointHostName</div>
                </div>
                <a title="Enable CDN integration" class="btn btn-sm btn-primary mb-3" asp-action="DisableCdn">Disable <i class="fa-solid fa-circle-arrow-right"></i></a>

            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {

        $("body").addClass("cwps-editor-container");

    });
</script>