@model Sky.Cms.Models.LayoutIndexViewModel

@{
    ViewData["Title"] = "EditNotes";
    Layout = "_Layout";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/cosmos/crypto-js/cryptpo-js-encrypt.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/balloon-block/ckeditor.js"></script>
<style>
    .ck.ck-icon, .ck.ck-icon * {
        background-color: white;
    }
</style>
<div class="pt-3">
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-8 bg-dark text-light">

                <h1>Design Details</h1>

                <form id="frmEditNotes" asp-action="EditNotes">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IsDefault" />
                    <input type="hidden" asp-for="Notes" />
                    <div class="form-group">
                        <label asp-for="LayoutName" class="control-label"></label>
                        <input asp-for="LayoutName" class="form-control" />
                        <span asp-validation-for="LayoutName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <div id="editor" class="bg-white text-dark" style="height:300px;width:100%;">
                            @Html.Raw(Model.Notes)
                        </div>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>

                <div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var editor;

    $(document).ready(function () {
        
        $("body").addClass("cwps-editor-container");

        editor = document.getElementById("editor");

        // Create editor
        BalloonEditor.create(editor).catch(error => { console.error(error); });

        $("#frmEditNotes").submit(function () {
            $("#Notes").val(encryptData(editor.innerHTML));
        });
    });

</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}