@{
    ViewData["Title"] = "Permission Denied";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h4>Oh no! Something's happened!</h4>
            <h1>Permission Denied</h1>
            <p>Although you are logged in, your account does not have permissions to access this web page.</p>
            <p>If you think you should have access, please contact the owner or administrator of this website.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <img src="~/images/SadBear.png" class="img-fluid" />
        </div>
    </div>
</div>