@inject IEditorSettings options
@using System.Reflection
@using Cosmos.Cms.Common.Services.Configurations;
@using Sky.Editor.Data.Logic
@using Microsoft.Extensions.Options;
@{
    var assemblyName = Assembly.GetExecutingAssembly().GetName();
    var isEditor = false;
    var isAdministrator = false;
    var isAuthor = false;
    var previewType = Context.Request.Query["previewType"].ToString().ToLower();
    var editorUrl = Context.Request.Query["editorUrl"].ToString().ToLower();

    var layoutId = Context.Request.Query["layoutId"].ToString() ?? "";
    var articleId = Context.Request.Query["articleId"].ToString() ?? "";

    if (User != null && User.IsInRole("Editors"))
    {
        isEditor = true;
    }

    if (User != null && User.IsInRole("Administrators"))
    {
        isAdministrator = true;
    }

    if (User != null && User.IsInRole("Authors"))
    {
        isAuthor = true;
    }

}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<nav id="ccmsNavMenu" class="navbar navbar-expand-sm navbar-dark bg-dark" style="z-index: 20000000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="~/images/skycms/SkyCMSLogoDarkTransparent.png" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="btnEditor" role="button" class="btn btn-sm btn-secondary mt-1">
                        Back to edit <i class="fa-solid fa-arrow-rotate-left"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" role="button" class="btn btn-sm btn-secondary mt-1 ms-2 btnPublish">
                        Publish now <i class="fa-solid fa-cloud-arrow-up"></i>
                    </a>
                </li>
                @if (previewType.Equals("article") && (isEditor || isAdministrator ))
                {
                    <li class="nav-item" id="publishLater">
                        <a id="btnPublishLater" href="#" role="button" class="btn btn-sm btn-secondary mt-1 ms-2">
                            Publish later <i class="fa-solid fa-cloud-arrow-up"></i>
                        </a>
                    </li>
                    <li class="nav-item" id="publishedTitleGroup" style="display:none">
                        <div class="input-group input-group-sm mt-1">
                            <div id="lblPublished" class="input-group-text" style="height:31px;">Publish date/time:</div>
                            <input autocomplete="off" class="form-control text-truncate" name="tbPublished" id="tbPublished" placeholder="Choose date/time" value="" />
                            <button class="btn btn-sm btn-secondary btnPublish" title="Publish now if new, or republish using previous date and time." type="button">Publish</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<script>

    const isAuthor = @(isAuthor.ToString().ToLower());
    const previewType = "@previewType";

    let pageTitle = "";
    let pagePath = "";

    $("#btnEditor").on("click", function (e) {
        e.preventDefault();
        location.href = "@editorUrl";
    });

    $("#publishLater").on("click", function (e) {
      $("#publishLater").hide();
      $("#publishedTitleGroup").show();
    });

    $(".btnPublish").on("click", function (e) {
        e.preventDefault();
        switch (previewType) {
            case "article":
                location.href = "/Editor/PublishPage?articleId=@articleId&dateTime=" + $("#tbPublished").val() + "&editorUrl=@editorUrl";
                break;
            case "layout":
                location.href = "/Layouts/Publish/@layoutId";
                break;
        }
    });

    $('#tbPublished').daterangepicker({
        autoUpdateInput: false,
        timePicker: true,
        singleDatePicker: true,
        showDropdowns: true,
        startDate: new Date(),
        locale: {
            format: 'MM/DD/YYYY hh:mm A'
        }
    });

    $('#tbPublished').on('apply.daterangepicker', function (ev, picker) {
        if (isAuthor) {
            alert("Only Editors and Administratos can publish changes.");
        } else {
            $('#tbPublished').val(picker.startDate.format('MM/DD/YYYY hh:mm A'));
            //displayLastPublished($('#tbPublished').val());
            $("#Published").val($('#tbPublished').val());
            $("#frmSave").submit();
        }
    });
</script>
