<button type="button" class="k-button k-button-md k-button-rectangle k-rounded-md k-button-solid k-button-solid-base ccms-chat-toast-trigger">
    Chat
    <div class="ccms-typing-indicator" style="display:none;font-size: 0.6em;">
        <span class="ccms-chat-sender"></span>
        <div class="k-message"><div class="k-bubble"><div class="k-typing-indicator" style="font-size: 0.6em;"><span></span><span></span><span></span></div></div></div>
    </div>
</button>