@model Cosmos.Editor.Models.TestEmailMessageViewModel
@{
        ViewData["Title"] = "Test Email Message";
        var t = Model;
}
<div class="pt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-secondary text-light pb-4">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form id="registerForm" method="post">
                        <h2>User Information</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="To"></label>
                            <input class="form-control" asp-for="To" />
                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Subject" class="form-check-label"></label>
                            <input class="form-control" asp-for="Subject" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Body"></label>
                            <input class="form-control" asp-for="Body" type="text" />
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>

                        <button  type="submit" class="btn btn-sm btn-primary">Send</button>

                        <div class="mb-3">
                           @Model.Success
                        </div>

                        <div class="mb-3">
                            @Model.ErrorMessage
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("body").addClass("cwps-editor-container");
    });
</script>

<partial name="_ValidationScriptsPartial" />