<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/eea20e7a-4dd0-4385-80d6-6b448e17a7da/resourceGroups/MoonriseSoftwareAdmin/providers/Microsoft.ContainerRegistry/registries/moonrise</ResourceId>
    <ResourceName>moonrise</ResourceName>
    <ResourceGroup>MoonriseSoftwareAdmin</ResourceGroup>
    <Subscription>Microsoft Founders Hub Sponsorship</Subscription>
    <RegistryUrl>moonrise.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>a946b428-79ce-4ab6-8ace-90548c08cb05</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>