@{
    ViewData["Title"] = "Access Pending";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="cwps-editor-container pt-3 vh-100">
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-secondary text-light">
                <div class="card-header">
                    <h3 class="card-title">
                        One more step...
                    </h3>
                </div>
                <div class="card-body">
                    <h5>Now that you have an account with Cosmos, a website administrator needs to grant you access to this website.</h5>
                    <p>Please contact our help desk if you need further assistance.</p>
                        <a class="btn btn-sm bg-dark btn-secondary me-2" href="mailto:notifications@cosmosws.io?subject=Help Desk Message" title="Email Help Desk">Help Desk <i class="fa-solid fa-bell-concierge"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>