@{
    ViewData["Title"] = "Database Not Setup";
}
<div class="cwps-editor-container pt-3">
<div class="container pt-2">
    <div class="row">
        <div class="col-md-6">
            <h1>Database Not Setup</h1>
            <p>
                It appears the database is not setup. Go into setup mode by doing the following:
            </p>
            <ol>
                <li>
                    Set the website configuration
                    variable &quot;CosmosAllowSetup&quot; to &quot;true&quot;
                </li>
                <li>Restart this website</li>
                <li>Close your web browsers</li>
                <li>Open this website in a new web browser</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/SadBear.png" class="img-fluid" />
        </div>
    </div>
</div>
</div>