@model TemplateEditViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/cosmos/crypto-js/cryptpo-js-encrypt.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>

<style>
    p {
        color:black !important;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-light text-center">
            <h5>Editing template:</h5>
            <h1>@Model.Title</h1>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-light">
            <form id="frmEdit" asp-action="Edit">
                <input asp-for="Id" type="hidden" />
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group bg-light">
                    <label asp-for="Description" class="control-label text-dark"></label>
                    <div id="ckDescription" class="bg-light" style="color:black !important">
                        @Html.Raw(Model.Description)
                    </div>
                    <input asp-for="Description" type="hidden" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#ckDescription'))
        .then(editor => {
            window.editor = editor;
        })
        .catch( error => {
            console.error( error );
        });

    $(document).ready(function() {
        $("#frmEdit").submit(function () {
            $("#Description").val(encryptData(editor.getData()));
        });
    });
</script>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
