@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset";
    Html.ViewContext.ViewBag.BrowserTitle = "Password Reset";
}

<h1>@ViewData["Title"]</h1>
<p class="mt-4">
    If we can find an account for you, a password reset email will arrive in your inbox.
</p>
<p class="mt-4">If you did not receive it:</p>
<ul>
    <li>Check your junk email folder</li>
    <li>Or contact an administrator</li>
</ul>
<p>
    Please <a asp-page="./Login">click here to log in</a>.
</p>