@page
@using System.Net
@using Cosmos.EmailServices
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Html.ViewContext.ViewBag.BrowserTitle = "Resend email confirmation";
    var response = (SendResult)ViewData["SendResult"];
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="row">
    @if (ViewData["SendResult"] != null)
    {
        <div class="col-md-6">
            @if (response.StatusCode == HttpStatusCode.Accepted || response.StatusCode == HttpStatusCode.OK)
            {
                <h2 class="mb-5">Confirmation Email Sent <i class="fa-solid fa-circle-check alert-success"></i></h2>
                <p class="mb-2">In a few minutes please check your email for a new confirmation email.  Click on the link in this email to confirm your account.</p>
                <p class="mb-5">If you did not receive the email, please check your junk email folder, or contact your email administrator.</p>

                <a class="btn btn-primary" href="/Identity/Account/Login">Return to Login</a>
            }
            else
            {
                <h2 class="mb-5">Problem Sending Confirmation Email</h2>
                <p class="mb-2">
                    There was a problem reported while attempting to send you the confirmation email.
                    Please contact us, and let us know what Email address you used.
                </p>
                <p class="mb-5">We apologize for the inconvenience.</p>

                <a class="btn btn-primary" href="/Identity/Account/Login">Return to Login</a>
            }
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h4>Enter your email address.</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Resend</button>
            </form>
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}