body.cwps-body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
}

    body.cwps-body > p {
        color: #b3b3b3;
        font-weight: 300;
    }

.cwps-editor-container {
    background-color: #323236;
}

.cwps-std-tbl-row-selected {
    background-color: #2a52a2 !important;
}

body.cwps-body
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body.cwps-body a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

body.cwps-body a, a:hover {
    text-decoration: none !important;
}

body.cwps-body .content {
    padding: 7rem 0;
}

body.cwps-body h2 {
    font-size: 20px;
    color: #fff;
}

.cpws-table-pager-row-top {
    background-color: #4c4b4b;
    border-radius: 15px 15px 3px 3px;
}

.cpws-table-pager-row-bottom {
    background-color: #4c4b4b;
    border-radius: 3px 3px 15px 15px;
}

body.cwps-body .custom-table {
    min-width: 900px;
    background-color: #25252b;
}

    body.cwps-body .custom-table thead tr, .custom-table thead th {
        border-top: none;
        border-bottom: none !important;
        color: #fff;
    }

    body.cwps-body .custom-table tbody th, .custom-table tbody td {
        color: white;
        font-weight: 400;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: 300;
    }

        .custom-table tbody th small, .custom-table tbody td small {
            color: #b3b3b3;
            font-weight: 300;
        }

    body.cwps-body .custom-table tbody tr:not(.spacer) {
        border-radius: 7px;
        overflow: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

.custom-table tbody tr:not(.spacer):hover {
    -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
}

body.cwps-body .custom-table tbody tr th, .custom-table tbody tr td {
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

    body.cwps-body .custom-table tbody tr th a, .custom-table tbody tr td a {
        color: whitesmoke;
    }

    body.cwps-body .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    body.cwps-body .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

body.cwps-body .custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 3px;
    border-radius: 0 !important;
    background: transparent !important;
}

body.cwps-body .custom-table tbody tr.active th, .custom-table tbody tr.active td, .custom-table tbody tr:hover th, .custom-table tbody tr:hover td {
    color: #fff;
    background: #2e2e36;
}

    .custom-table tbody tr.active th a, .custom-table tbody tr.active td a, .custom-table tbody tr:hover th a, .custom-table tbody tr:hover td a {
        color: #fff;
    }

/* Custom Checkbox */
body.cwps-body .control {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
}

    body.cwps-body .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

body.cwps-body .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #3f3f47;
    background: transparent;
}

body.cwps-body .control--radio .control__indicator {
    border-radius: 50%;
}

body.cwps-body .control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    border: 2px solid #007bff;
}

body.cwps-body .control input:checked ~ .control__indicator {
    border: 2px solid #007bff;
    background: #007bff;
}

body.cwps-body .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border: 2px solid #ccc;
}

body.cwps-body .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
}

body.cwps-body .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff;
}

body.cwps-body .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
}

body.cwps-body .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

body.cwps-body .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #007bff;
    opacity: .2;
    border: 2px solid #007bff;
}
/*
    Nested Drop downs
    https://github.com/mdbootstrap/bootstrap-nested-dropdown
*/
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
/* end nested */